
Ios-Assignment3-131/Ios-Assignment3-131.xcodeproj/xcuserdata/12974756.xcuserdatad/xcschemes/xcschememanagement.plist
Ios-Assignment3-131/Ios-Assignment3-131.xcodeproj/project.xcworkspace/xcuserdata/12974756.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
